$redColor:red;
$alpha-color: #F95A2C;
$beta-color: #FFBD12;
$rounded-alpha: 16px;
$twitter-blue:#1DA1F2;
$title-font: Montserrat;
$font-weight-title: bolder;
$font-weight-paragraph: 400;
$box-shadow-alpha:0px 6px 0px #18191F;
$gamma-color:#1947E5;